body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}

ul, ol {
    list-style-type: none;
}

a {
    text-decoration: none;
}
p, ul, ol, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}
.container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}
/* logo */
.logo {
font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
}
.header-logo {
   padding: 24px 0;
   margin-right: 76px; 
}
/* header */
.header-logo .logo-part {
    color: #2e2f42;
}
.page-header {
border-bottom: 1px solid #e7e9fc;
}
.header-container {
    display: flex;
    align-items: center;
}
.header-nav {
    display: flex;
    align-items: center;
}

/* nav */
.nav-link {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2e2f42;
padding: 24px 0;
display: block;
}
.nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.contacts {
    font-style: normal;
    margin-left: auto;
}

.contacts-link {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
padding: 24px 0;
display: block;
}

.contacts-link:hover,
.contacts-link:focus,
.nav-link:hover,
.nav-link:focus {
    color: #404bbf;
}
.contacts-list {
display: flex;
align-items: center;
gap: 40px;
}

/* hero */

.hero-banner {
background-color: #2e2f42;
padding: 188px 0;
}
.hero-title {
font-weight: 700;
font-size: 56px;
line-height: 1.07;
letter-spacing: 0.02em;
text-align: center;
color: #fff;
display: flex;
align-items: center;
margin: 0 auto;
padding-top: 188px;
max-width: 496px;
}
.hero-button {
background-color: #4D5AE5;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #fff;
cursor: pointer;
margin-top: 48px;
display: block;
align-items: center;
margin-left: auto;
margin-right: auto;
padding: 16px 32px;
min-width: 169px;
height: 56px;
border: none;
border-radius: 4px;

}
.hero-button:hover,
.hero-button:focus {
    background-color: #404BBF
}

/* benefits */

.benefits {

}

.benefits-list {

}

.benefits-list-item {

}

.benefits-title {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
}
.benefits-list-item-text {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

/* team */
.team {
background-color: #F4F4FD;

}
.team-title {
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
 text-transform: capitalize;
}
.team-list {

}
.team-list-item {
background-color: #FFFFFF;

}
.team-name-title {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
}
.team-text {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: center;
color: #434455;
}

/* ourportfolio */

.ourportfolio {

}
.ourportfolio-title {
font-size: 36px;
line-height: 1.11111;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
line-height: 1.11;
text-transform: capitalize;
}
.ourportfolio-list{

}
.ourportfolio-list-item {

}
.ourportfolio-list-item-title {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;

}
.ourportfolio-list-item-text {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

/* footer */
.page-footer {
    background-color: #2e2f42;
}

.footer-logo .logo-part {
    color: #f4f4fd
}
.footer-text {
line-height: 1.5;
letter-spacing: 0.02em;
color: #f4f4fd;
}
